/* https://github.com/Vanethos/flutter_web_splash/blob/master/web/styles.css */
html, body {
    height: 100%;
    width: 100%;
    /*background-color: #FC7753;*/
}

.parent {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  height: 100px;
  position: center;
}

.center p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
{"mode":"full","isActive":false}